/* Styles for Project 5 */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: .5px;
    padding: 3% 10% 3% 10%;
}

h1 {
    color:darkorchid;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    
}

img {
    max-width: 100%;
}