/* Styles for Charlie's Cafe */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
}


.hero {
   position: relative;
   padding: 9em 0; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url(../img/header.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   filter: brightness(70%);
}

.hero-content {
   position: relative;
   font-family: montserrat,Arial,sans-serif;
   color: white;
   text-align: center;
   margin: 0.625rem;
}

.hero-title {
    font-family: montserrat,Arial,sans-serif;
   font-size: 4.5rem;
   font-weight: 300;
    letter-spacing: 3px;
   margin-bottom: 30px;
}

.hero-subtitle {
    font-family: montserrat,Arial,sans-serif;
   font-size: 28px;
   font-weight: 200;
   margin-top: 1rem;
}

.hero-button {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    transition: all .15s ease-in-out;
    border: 1px solid white;
    padding: .75rem .75rem;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin: 30px;
}

.hero-button:hover {
   border: 1px solid tan;
    color: black;
    background-color: white;
}

.hero-button a {
    color:white;
    padding: 8px 10px;
    text-decoration: none;
    
}

.hero-button a:hover{
    color: black;
}


.topnav {
    overflow: hidden;
    display: flex;
    width: 100%;   
    padding-top: .2rem;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
   
}


.topnav a {
    text-transform: uppercase;
    color:black;
    text-decoration: none;
    margin-right: .5rem;
    font-size: 16px; 
    font-family:  montserrat,Arial,sans-serif;
    font-weight: 400;

}

.topnav a:hover {
    color: saddlebrown;
}

.header {
  background-color: #fff;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
    font-size: 15px;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.7em;
  padding: 10px 20px;
  text-decoration: none;
}


.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}


.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    padding: 4rem 8rem;
    justify-content: center;    
}

.about p{
    line-height: 1.8rem;
    font-weight: 300;
    font-family: montserrat,arial,sans-serif;
}

.about-button {
    font-family: montserrat,Arial,sans-serif;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    transition: all .15s ease-in-out;
    border: 1px solid saddlebrown;
    padding: .75rem .75rem;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-top: 10px;
    color:saddlebrown;
}

.about-button:hover {
   border: 1px solid tan;
    color: black;
    background-color: white;
}

.about-button a {
    color:saddlebrown;
    padding: 8px 10px;
    text-decoration: none;
    
}

.about-button a:hover{
    color: black;
}

h3{
    text-transform: uppercase;
   
    color: saddlebrown;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.menu{
    text-align: center;
     background-color:  #f2f2f2;
    padding-top: 40px;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}



.menu-items {
    justify-content: center;
    background-color:  #f2f2f2;
    width: 100%;
}

form { max-width:420px; margin:50px auto; }


.feedback-input {
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid saddlebrown;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid tan; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background: saddlebrown;
  border-radius:5px;
  border: 2px solid saddlebrown ;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:600;
}

[type="submit"]:hover { background:white;
   
    color: saddlebrown;
}

img {
    max-width: 100%;
}

.col-menu-item ul {
    border-top: 1px #d9d9d9 solid;
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.col .col-sm-12 .col-md-6 .col-menu-item{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-menu-item ul li {
    align-items: center;
    border-bottom: 1px #d9d9d9 solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(217, 217, 217);
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}


h4 {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
}


.pic {
    padding-top: 5rem;
}

.contact {
    display: grid;
    grid-template-columns: 700px 500px ;
    grid-gap: 50px;
    padding-bottom: 5rem;
    padding-top: 5rem;
    justify-content: center;    
}

footer{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    filter: brightness(70%);
}

footer p{
     color:white;
    filter: brightness(100%);
    text-align: center;
}

.location{
    display: grid;
    grid-template-columns: 400px 400px ;
    grid-gap: 45px;
    padding-top: 0px;
}


@media only screen and (max-width: 768px) {
    
    .grid-container{
        display: block;
        padding: 4rem 2rem;
    }
    
    .pic{
        padding-top: 40px;
    }
    
    .hero-subtitle {
        font-size: 22px;
   
}
    
    .hero-title{
        font-size: 55px;
    }
    
    .topnav-logo{
        font-size: 18px;
        line-height: 1.4rem;
        padding-left: 10px;
    
}
    .topnav{
        font-size:15px;
        padding-right: 5px;
        padding-left: 5px;
    }
    img{
        padding-top: 2rem;
    }
   
  }

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}